.App {
  padding-left: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status-table tbody tr > td:nth-child(3), .status-table tbody tr > td:nth-child(4) {
  padding-left: 30px;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  padding: 6px 0 0 6px;
  margin-bottom: 6px;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
